@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');

* {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
}
body{
    background: url('mountain_smol.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
nav span, nav a {
    color: white;
    font-size: 28px;
    text-decoration: none;
    line-height: 36px;
    margin-left: 4px;
    margin-right: 4px;
}
nav a:hover {
    font-size: 32px;
}
nav .divider {
    display: none;
}
@media (max-width: 700px) {
    nav {
        display: flex;
        flex-flow: column;
    }
    nav span {
        display: none;
    }
    nav .divider {
        display: inline-block;
    }
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px 24px 24px;
    background: linear-gradient(transparent, #ffffff42);
}
footer span, footer a {
    font-size: 18px;
    font-weight: 100;
}
.footer_right {
    position: absolute;
    bottom: 24px;
    right: 24px;
}
h1 {
    overflow: hidden;
    text-align: center;
}
@media screen and (min-width: 900px) {
    h1:before,
    h1:after {
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;

        background: white no-repeat;

        -webkit-animation-duration: 700ms;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
    }
    h1:before {
        right: 0.5em;
        margin-left: -50%;
    }
    h1:after {
        left: 0.5em;
        margin-right: -50%;
    }
    h1:hover:before {
        background-image: linear-gradient(to left, #ffffff 0%, #c0c0c0 10%, #a7a7a7 40%, #a7a7a7 100%);
        -webkit-animation-name: shimmer-left;
    }
    h1:hover:after {
        background-image: linear-gradient(to right, #ffffff 0%, #c0c0c0 10%, #a7a7a7 40%, #a7a7a7 100%);
        -webkit-animation-name: shimmer-right;
    }
}
hr {
    height: 0;
    background-color: white;
    border: 1px solid white;

    padding: 0;
}
a, span, hr {
    color: white;
    text-decoration: none;
}

.container {
    width: 75%;
    margin: 46px auto auto;
    text-align: center;
}
.title {
    font-size: 72px;
    font-weight: 100;
}
@media screen and (max-width: 470px) {
    .title {
        font-size: 48px;
    }
}

.jess, .jess img {
    float: left;
    height: 64px;
    width: auto;
}
.jess {
    margin: 0 auto;
    animation-name: stretch;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.divider:before {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 35px;
}

@keyframes stretch {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03);
    }
}

@keyframes shimmer-left {
    <!-- TODO get ideal width position -->
    0% {
        background-position: 468px 0;
    }
    100% {
        background: white -468px 0;
    }
}

@keyframes shimmer-right {
    <!-- TODO get ideal width position -->
    0% {
        background-position: -468px 0;
    }
    100% {
        background: white 468px 0;
    }
}
